body .text-center {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #212529;
    width: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.widget {
    padding: 20px 30px;
    background: white;
    font-family: 'Roboto', sans-serif;
    height: auto;
    border-right: 1px solid rgb(110, 109, 108);
}
.widget-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #b99d61;
}
.widget-list {
    padding: 0;
    list-style: none;
}

.widget-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    font-weight: 300;
    color: #444;
    transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}

.stEditData {
    width: 500px;
}

.rup input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    background: inherit;
    width: 75px ;
}

.report {
    width: 100% ;
    height: 100%;
}

.page {
    width: 1240px;
    height: 1754px;
    padding-top: 150px;
}

.wi {
    width: 100%;
}

.loginDiv form{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

th.forVer{
    padding: 0;
}

p.vertical {
    width: 100%;
    //-webkit-transform: rotate(-90deg);
    //-moz-transform: rotate(-90deg);
    //-ms-transform: rotate(-90deg);
    //-o-transform: rotate(-90deg);
    //transform: rotate(-90deg);
}

p.verticalBig {

    width: 100%;
    //-webkit-transform: rotate(-90deg);
    //-moz-transform: rotate(-90deg);
    //-ms-transform: rotate(-90deg);
    //-o-transform: rotate(-90deg);
    //transform: rotate(-90deg);
}

.pps2 td, th {
    width: 150px;
}

.pps3 td, th {
    width: 400px;
}

.pps4 td, th {
    width: 400px;
}

.pps input {
    border: 0;
    background-color: inherit;
}

.pps {
    font-size: 9px ;
    width: 700px;
    height: auto;
}

.pps2 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.pps2 td{
    padding-left: 25px;
}

.pps3 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.pps4 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.pps42 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.pps5 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.pps6 input {
    border: 0;
    background-color: inherit;
    width: 35%;
}

.razmer {
    width: 700px;
}

.pps  td {
    width: 80px;
}
